.CompanySelect {
  li {
    list-style-type: none;
    margin-bottom: -1px;
  }

  ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
  }
}
