@import "../../../../styles/variables";

.Menu {
  border: none;

  .MenuItem {
    width: 208px;
    height: auto;

    .Active {
      color: $green
    }

    .Link {
      display: flex;
      align-items: center;

      .LinkTitle {
        white-space: pre-line;
        line-height: 22px;
        padding: 10px 0;
        width: 130px;
      }

      .Icon {
        margin-right: 10px;
      }
    }
  }
}