@import '../../../../../../../../shared/styles/variables';

.Block {
  padding-top: 12px;
  padding-bottom: 12px;

  :global {
    .ant-select {
      width: 100%;
    }
    .ant-alert {
      background: #fafafa;
      border: 1px solid #d9d9d9;
    }
  }

  .GrowRow {
    flex-grow: 1;
  }

  .Row {
    padding-top: 7px;
    padding-bottom: 7px;

    :global {
      .ant-col + .ant-col {
        padding-left: 9px;
      }
    }
  }

  .HasError {
    :global {
      svg,
      .ant-select-selection,
      .ant-select-selection__placeholder,
      .ant-input {
        color: $colorError;

        &:focus {
          border-color: $colorError;
          -webkit-box-shadow: 0 0 2px 0 $colorError;
          box-shadow: 0 0 2px 0 $colorError;
        }

        &:hover {
          border-color: $colorError !important;
        }

        &::placeholder {
          color: $colorError;
        }
      }
    }
  }
}
